*/bin
.metadata
hs_err_pid*.log
out/

archives/
android/libs
core/generated

# Gradle
.gradle
build/
local.properties
gradle-app.setting

# IntelliJ
.idea
*.iml
.*.swp

# Fastlane
fastlane/google-play-api.json
