{{ import }}

public class Messages_{{ locale }} extends {{ base_class }} {
    public Messages_{{ locale }}() {
        {%- for msgid, msgstr in plain_entries %}
        plainEntries.put("{{ msgid }}", "{{ msgstr }}");
        {%- endfor %}

        {%- for msgid, msgid_plural, lst in plural_entries %}
        pluralEntries.put(
            new PluralId("{{ msgid }}", "{{ msgid_plural }}"),
            new String[] {
            {%- for msgstr in lst %}
                "{{ msgstr }}",
            {%- endfor %}
            }
        );
        {%- endfor %}
    }

    @Override
    public int plural(int n) {
        return {{ plural_code }}
    }
}
